@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Fira+Code:wght@600&family=Fredoka:wght@300&family=Josefin+Sans&family=Montserrat:wght@500&display=swap'); 


/*
Three main pages-
#1 index.html (home)
#2 Dog Posts
#3 Random posts page

There's a post template called post.html.
There's 22 Posts.
*/

body {
    background-color: rgba(250, 222, 175, 0.496);
}

.card-img {
    width: 100%;
    height: auto;
   
  }

.intro-para h3 {
    font-family: 'Bungee', cursive;
    color: rgb(32, 67, 112);
   text-align: center;
   line-height: 1.5em;
}
.intro-para {
    background-color: rgb(165, 222, 247);
    padding: 3%;
    border-radius: 8px;
}
.intro-para h1 {
    color: rgb(4, 4, 67);
}

/******************************************************* Dog Stuff *************************************************************/

.gallary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3em;
    grid-auto-flow: row dense;
    justify-content: space-around;
}

.dog-imgs {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(255, 227, 227);
    border-radius: 10px;
}

/******************************************************* Posts *************************************************************/


.post-text {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 20px;
  
}