@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Fira+Code:wght@600&family=Fredoka:wght@300&family=Josefin+Sans&family=Montserrat:wght@500&display=swap'); 
/*
font-family: 'Bungee', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Fira Code', monospace;
font-family: 'Fredoka', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
body {
    background-color: rgba(250, 222, 175, 0.496);
}

.card-img {
    width: 100%;
    height: auto;
   
  }

.intro-para h3 {
    font-family: 'Bungee', cursive;
    color: rgb(32, 67, 112);
   text-align: center;
   line-height: 1.5em;
}
.intro-para {
    background-color: rgb(165, 222, 247);
    padding: 3%;
    border-radius: 8px;
}
.intro-para h1 {
    color: rgb(4, 4, 67);
}