@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Fira+Code:wght@600&family=Fredoka:wght@300&family=Josefin+Sans&family=Montserrat:wght@500&display=swap');


/*
Three main pages-
#1 index.html (home)
#2 Dog Posts
#3 Random posts page

There's a post template called post.html.
There's 22 Posts.
*/

body {
    font-family: 'Courgette', cursive;
    background-color: #fadeaf7e;
    background:
radial-gradient(rgba(144, 198, 44, 0.1) 15%, transparent 16%) 0 0,
radial-gradient(rgba(158, 120, 7, 0.057) 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(202, 140, 25, 0.06) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(35, 192, 216, 0.053) 15%, transparent 20%) 8px 9px;
background-color:#fadeaf7e;
background-size:20px 20px;

    /*
    background-color:#fadeaf7e;
    background-image:
    radial-gradient(rgb(0, 0, 0), rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(rgb(0, 0, 0), rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(rgb(51, 38, 38), rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    */
}

.texture-bg {
    background-color: #738266;
    
    background-image:
    radial-gradient(rgb(0, 0, 0), rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(rgb(0, 0, 0), rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(rgb(51, 38, 38), rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 10 20, 40px 60px, 130px 270px, 70px 100px;
}
.card-img {
    width: 100%;
    height: auto;

}

.intro-para h3 {
    font-family: 'Bungee', cursive;
    color: rgb(32, 67, 112);
    text-align: center;
    line-height: 1.5em;
}

.intro-para {
    background-color: rgb(165, 222, 247);
    padding: 3%;
    border-radius: 8px;
}

.intro-para h1 {
    color: rgb(4, 4, 67);
}

/******************************************************* Dog Stuff *************************************************************/

.gallary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3em;
    grid-auto-flow: row dense;
    justify-content: space-around;
}

.dog-imgs {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(255, 227, 227);
    border-radius: 10px;
}

/******************************************************* Posts *************************************************************/


.post-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;

}




.pushy__btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    display: inline-block;
    border: none;
    border-radius: .3em;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,'Courgette', cursive, /*"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol"*/;
    font-weight: 400;
    line-height: 1.5;
    padding: .5em 1.5em .75em;
    position: relative;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .pushy__btn:active {
      -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
              box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
      margin-top: .25em;
      padding-bottom: .5em; }
    .pushy__btn:active, .pushy__btn:focus {
      outline: none; }
    .pushy__btn--blue {
      background-color: #36617b; }
    .pushy__btn--green {
      background-color: #10ac84; }
    .pushy__btn--red {
      background-color: #A7443B; }
    .pushy__btn--lg {
      font-size: 1.5em; }
    .pushy__btn--df {
      font-size: 1.25em; }
    .pushy__btn--md {
      font-size: 1em; }
    .pushy__btn--sm {
      font-size: 0.75em; }